* {
    padding: 0; margin: 0; 
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

#scoreBoardLeft {
    padding-right: 1px;
}

#scoreBoardRight {
    padding-left: 1px;
}

#leftScore {
    width: 35px !important;
}

#rightScore {
    width: 35px !important;
}


.progress {
    margin-bottom: 1px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 10px !important;
}

#pong {
  border: 2px solid black;
  height: 400px;

}