@{
    ViewBag.Title = "Weather Zap";
}

<input id="zip_input" type="text" value="Zip Code" />

<div>
    <ul>
        <li id="location">Location: </li>
        <li id="temp_f">Temp: </li>
        <li><img id="forcast_img" scr="" /></li>
        <li id="forcast_text">temp</li>
    </ul>

</div>