@{
    ViewBag.Title = "Weather Zap";
}

<div>
    <ul>
        <li id="location">Location: </li>
        <li id="temp_f">Temp: </li>
        <li><img id="forcast_img" scr="" alt="pic" /></li>
        <li id="forcast_text">temp</li>
    </ul>

</div>